:root {
    --main-bg-color: #FBFFF9;
    --main-text-color: #000;
    --main-btn-color: rgb(124, 124, 124);
    --main-link-color: rgb(124, 124, 124);
    --main-hover-color: #1994D7;
    --main-footer-color: rgb(124, 124, 124);
    --main-border-color: #e5e5e5;

    --nav-bg-color: #FBFFF9;
    --nav-text-color: #000;

    --card-bg-color: #000;
    --card-text-color: #fff;

    --chatbox-othermsg-color: rgb(124, 124, 124);
    --chatbox-selfmsg-color: #9DB541;

    --shopping-cart-title-color: #f5f5f5;
    --shop-tooltip-color: #f5f5f5;

    --main: #FBFFF9;
    --set-a1: #F9FFFA;
    --set-a2: #F9FFFD;
    --set-b1: #9DB541;
    --set-b2: #68EDCB;
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background: var(--main-bg-color) !important;
}


/* 
    Navbar
    Toggler
*/
nav {
    height: 6vh;
    background: var(--nav-bg-color) !important;
}

.navbar-brand > img {
    width: 45%;
    height: 45%;
}

@media (max-width: 575px) {
    .navbar-nav {
        margin-top: -4px;
        width: 100%;
    }
    .navbar-nav > li {
        padding-left: 15px;
    }
}


/*
    Shopping cart icon
    Shopping cart badge
*/
.shopping-cart-button {
    position: relative;
    font-size: 1.1rem;
    cursor: pointer;
}

.shopping-cart-number {
    position: absolute;
    top: 3px;
    right: 30px;
    cursor: pointer;
}


/*
    Video Container
    Video pause button
*/
.video-container {
    width: 100%; 
    height: 100vh; 
    position: relative; 
}

video { 
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

@media (max-width: 1399px) {
    .video-container {
        height: 55vh;
    }    
}

@media (max-width: 1199px) {
    .video-container {
        height: 50vh;
    }    
}

@media (max-width: 991px) {
    .video-container {
        height: 45vh;
    }    
}

@media (max-width: 768px) {
    .video-container {
        height: 40vh;
    }    
}

@media (max-width: 575px) {
    .video-container {
        height: 35vh;
    }    
}

.video-title {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;     
    background: var(--main-bg-color);    
    color: var(--main-text-color);
    opacity: 0.65;    
    padding: 10px;
    z-index: 2;
}
  
.video-pause-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 12px 12px; 
    cursor: pointer;
    color: var(--main-btn-color);
    font-size: 1.1rem;
}
  
.video-pause-button:hover {
    color: var(--main-hover-color);
}


/*
    Trails Card 
*/

.trails-card-col {
    margin-top: 1.5rem !important; /* override bootstrap default mt-0 */
}

.trails-card-col:last-child {
    margin-bottom: 1rem !important; /* override bootstrap default mb-0 */
}

.card-img {
    display: flex;
    align-items: stretch;
    height: 45vh !important;  /* override bootstrap different img height */    
}

.trails-card-link {
    text-decoration: none;
    color: var(--main-link-color);
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--card-text-color);
    background-color: var(--card-bg-color);
    opacity: 0.6;
}


/*
    Footer
 */
.footer-legal > a {
    text-decoration: none;
}

.footer-legal > a > span {
    border-right: 1px solid var(--main-footer-color);
    padding-right: 10px;
    margin-right: 7px;
    cursor: pointer;
    text-decoration: none;
}

.footer-legal > a > span:last-child {
    border: none;
}


/*
    Bottom Box
    Back to top
*/
.bottom-box {
    position: relative;
    right: 0px;
    bottom: 0px;
}

.bottom-box > a > .back-to-top {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 2rem;
    color: var(--main-btn-color);
    cursor: pointer;
}

.bottom-box > .chat-box-button {
    position: absolute;
    right: 10px;
    bottom: 55px;
    font-size: 2rem;
    color: var(--main-btn-color);
    cursor: pointer;
}


/*
    Chat Box
*/
.chat-box {
    position: absolute;
    right: 55px;
    bottom: 15px;
    border: 2px solid var(--main-border-color);
    border-radius: 18px;
    padding: 10px;
    width: 310px;
    height: 350px;
    background: var(--main-bg-color);
    /* change to flex after button clicked */
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat-box-title {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-border-color);
}

.chat-box-uppergrid > * ,
.chat-box-lowergrid > * {
    border-radius: 18px;
}

.chat-box-uppergrid {
    overflow-y: auto;
    height: 100%;
    margin-top: 8px;
}

.chat-box-other-messages,
.chat-box-self-messages {
    padding: 6px 12px;
    margin-bottom: 15px;
    max-width: 185px;
    width: fit-content;
    block-size: fit-content;    
    word-wrap: break-word;
    position: relative;
}

.chat-box-other-messages {
    background-color: var(--chatbox-othermsg-color);
    /* left div */
    margin-left: 5px; 
    margin-right: auto;
}

.chat-box-other-messages::after {
    content: " ";
    position: absolute;
    left: -3px;
    top: 12px;
    border-top: 5px solid transparent;
    border-right: 5px solid var(--chatbox-othermsg-color);
    border-left: none;
    border-bottom: 5px solid transparent;
}

.chat-box-self-messages {
    background-color: var(--chatbox-selfmsg-color);
    /* right div */
    margin-left: auto;
    margin-right: 5px;
}

.chat-box-self-messages::after {
    content: " ";
    position: absolute;
    right: -3px;
    top: 12px;
    border-top: 5px solid transparent;
    border-right: none;
    border-left: 5px solid var(--chatbox-selfmsg-color);
    border-bottom: 5px solid transparent ;
}

.typing-messages {
    padding-bottom: 10px; /* exist after function typingMessages */
}

.chat-box-lowergrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid var(--main-border-color);
    width: 100%;
}

.chat-box-input {
    padding: 2px 10px;
    resize: none;
    margin-right: 5px;
    width: 100%;
    border: 1px solid var(--main-border-color);
}


/*
    Shop  
*/
.shop-list {
    border: 1px solid var(--main-border-color) !important; /* override bootstrap default li */
}

.product-image-col > .shop-items-img {
    width: 100%;
    height: 20vh;
    object-fit: scale-down;
}

.product-image-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-details-col {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.product-details {
    max-height: 100px;
    overflow: hidden;
}

.product-price {
    font-size: 1.1rem;
    font-style: oblique;
}


/*
    Shop tooltip
*/
.buy-button-col {
    position: relative;
}

.marketplace-tooltip {
    position: absolute;
    display: none;
    width: 124px;
    height: 55px;    
    bottom: 50px;
    left: 54px;
    background: var(--shop-tooltip-color);
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.8);
    padding: 5px 6px 6px 6px;
}

.marketplace-tooltip:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border: 6px solid black;
    border-color: transparent transparent var(--shop-tooltip-color) var(--shop-tooltip-color);
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -3px 2px 3px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
}


/*
    Shopping Cart
*/
.shopping-cart-title {
    background: var(--shopping-cart-title-color);
    padding: 10px 0px;
    border-bottom: 1px solid var(--main-border-color);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.shopping-cart-items {
    padding: 10px 0px;
    margin: 10px 0px !important;  /* overide bootstrap row margin */
    border-bottom: 1px solid var(--main-border-color);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.shopping-cart-items:last-child {
    border-bottom: none;
}

.shopping-cart-list {
    border: 1px solid var(--main-border-color);
}

.shopping-cart-list-msg-before-any-items {
    font-size: 2rem;
    text-align: center;
    padding: 100px;
}

.shopping-cart-image > .shop-items-img {
    height: 15vh;
}

.shopping-cart-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart-delete > i {
    font-size: 1.2rem;
}


/*
    Shopping-cart checkout container
*/
.delivery-container, 
.checkout-container {
    border: 1px solid var(--main-border-color);
    padding: 0 !important; /* override bootstrap padding*/
}

.order-details-title {
    background: var(--shopping-cart-title-color);
}

.checkout-container > table {
    width: 80%;
    height: 65%;
}

.checkout-container > table > tbody > tr:last-child {
    height: 65px;
    border-top: 1px solid var(--main-border-color);
}

.checkout-button {
    width: 80%;
}

.shopping-cart-delete-button {
    cursor: pointer;
}


/*
    Shopping Cart
*/

/* 
old version, shopping-cart display in block, like chatbox
.shopping-cart {
    position: absolute;
    right: 10px;
    top: 51px;
    border: 2px solid var(--main-border-color);
    border-radius: 18px;
    padding: 10px;
    width: 310px;
    height: 350px;
    background: var(--main-bg-color);
    
    display: flex; // change to flex after button clicked
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart-title {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--main-border-color);
}

.shopping-cart-uppergrid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--main-border-color);
}

.shopping-cart-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    border-bottom: 1px dotted var(--main-border-color);
    padding: 5px 10px;
}

/*
.buy-button-col > i {
    font-size: 1.25rem;
    align-items: center;
}

.buy-number {
    text-align: center;
    vertical-align: start;
    font-size: 1.25rem;
}
*/


/* 
contact page links 
*/
#companyInfoLink > a {
    color: var(--main-link-color);
}

/* 
about page links 
*/
.container a {
    color: var(--main-link-color);
}


/* 
trails page route details
*/

#routeDetails {
    font-size: 1.5rem;
}

.text-container {
    text-align: justify;
    margin: 2rem 2rem;
    padding: 2rem;
    text-justify: inter-word;
}

#facility a {
    text-decoration: none;
}

#route-part-container > div > img {
    width: 100%;
    height: 50vh;
    object-fit: scale-down;
}



/* 
trails page video(vdo) 
*/
.vdo-container {
    width: 100%; 
    height: 60vh; 
    position: relative;
    margin: 1rem auto; 
}

.vdo-container video { 
    width: 60%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 20%;
}

@media (max-width: 1399px) {
    .vdo-container {
        height: 55vh;
    }    
}

@media (max-width: 1199px) {
    .vdo-container {
        height: 50vh;
    }    
}

@media (max-width: 991px) {
    .vdo-container {
        height: 45vh;
    }    
}

@media (max-width: 768px) {
    .vdo-container {
        height: 40vh;
    }    
}

@media (max-width: 575px) {
    .vdo-container {
        height: 35vh;
    }    
}
